 body {
  margin: 100px;
 padding: 20px;
 box-sizing: border-box;
 font-family: 'segoe UI', sans-serif;
 background-color: #ebf3eb;
 color: var(--text);
   background-repeat: no-repeat;
 background-size: cover;}

    h2{ 
      font-size: 25px;
     text-align: center;
     color: #2c332f;
     animation: puls 1.5s infinite;
    }

 .container {
     max-width: 400px;
     margin: auto;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 358);
     backdrop-filter: blur(10px);
     background: rgba(255, 255, 255, 0, 207);
    }

 label{
     display: block;
     margin-bottom: 5px;
    }
input,textarea{
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #093209;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, );
}

button{
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #093209;
}

#response{
    margin-top: 10px;
    border: 2px solid #1f7421;
    padding: 14px;
    border-radius: 5px;
    background-color: #1f74296e;
    width: 90%;
    color: #000;
}

#response strong{
    margin-bottom: 5px;
}

@keyframes pulse { 
    0% {transform: scale(1); }
    50% { transform: scale(1.05); }
    100% {transform: scale(1); }
}
